<web-app>


	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>bec.com.MyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/MyServlet</url-pattern>
	</servlet-mapping>


    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>bec.com.EmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/EmployeeServlet</url-pattern>
    </servlet-mapping>


</web-app>